    
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sol y Luna Real Estate</title>
    <meta name="keywords" content="Bienes Raíces, Real Estate, Venta de propiedades, Propiedades en venta, vender propiedad, comprar propiedad
          ,Casas en Nicoya, Casas en Guanacaste, Casas en Costa Rica, Fincas Baratas, Fincas agricolas, Propiedades de playa, Propiedades de vacaciones
          "/>
    <link rel="apple-touch-icon" sizes="180x180" href="~/ContentCliente/assets/images/favicons/logoico.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/ContentCliente/assets/images/favicons/logoico.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/ContentCliente/assets/images/favicons/logoico.png">
    <link rel="manifest" href="~/ContentCliente/assets/images/favicons/site.webmanifest">
     
    <!-- Fonts-->
    <environment include="Development">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
              rel="stylesheet">
        <!-- Css-->
        <link rel="stylesheet" href="~/ContentCliente/assets/css/animate.min.css">
        <link rel="stylesheet" href="~/ContentCliente/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/ContentCliente/assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="~/ContentCliente/assets/css/owl.theme.default.min.css">
        <link rel="stylesheet" href="~/ContentCliente/assets/css/magnific-popup.css">
        <link rel="stylesheet" href="~/ContentCliente/assets/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="~/ContentCliente/assets/css/swiper.min.css">
        <link rel="stylesheet" href="~/ContentCliente/assets/css/bootstrap-select.min.css">
        <link rel="stylesheet" href="~/ContentCliente/assets/css/jarallax.css">

        <link rel="stylesheet" href="~/ContentCliente/assets/css/jquery.mCustomScrollbar.min.css">
        <link rel="stylesheet" href="~/ContentCliente/assets/css/bootstrap-datepicker.min.css">
        <link rel="stylesheet" href="~/ContentCliente/assets/css/vegas.min.css">
        <link rel="stylesheet" href="~/ContentCliente/assets/css/nouislider.min.css">
        <link rel="stylesheet" href="~/ContentCliente/assets/css/nouislider.pips.css">
        <link rel="stylesheet" href="~/ContentCliente/assets/css/tolips.css">
        <!-- Template styles -->
        <link rel="stylesheet" href="~/ContentCliente/assets/css/style.css">
        <link rel="stylesheet" href="~/ContentCliente/assets/css/responsive.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    </environment>

    <environment exclude="Development">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
              rel="stylesheet">
        <!-- Css-->
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
        <link rel="stylesheet" href="~/ContentCliente/assets/css/animate.min.css" asp-append-version="true">
        <link rel="stylesheet" href="~/ContentCliente/assets/css/bootstrap.min.css" asp-append-version="true">
        <link rel="stylesheet" href="~/ContentCliente/assets/css/owl.carousel.min.css" asp-append-version="true">
        <link rel="stylesheet" href="~/ContentCliente/assets/css/owl.theme.default.min.css" asp-append-version="true">
        <link rel="stylesheet" href="~/ContentCliente/assets/css/magnific-popup.css" asp-append-version="true">
        <link rel="stylesheet" href="~/ContentCliente/assets/css/fontawesome-all.min.css" asp-append-version="true">
        <link rel="stylesheet" href="~/ContentCliente/assets/css/swiper.min.css" asp-append-version="true">
        <link rel="stylesheet" href="~/ContentCliente/assets/css/bootstrap-select.min.css" asp-append-version="true">
        <link rel="stylesheet" href="~/ContentCliente/assets/css/jarallax.css" asp-append-version="true">

        <link rel="stylesheet" href="~/ContentCliente/assets/css/jquery.mCustomScrollbar.min.css" asp-append-version="true">
        <link rel="stylesheet" href="~/ContentCliente/assets/css/bootstrap-datepicker.min.css" asp-append-version="true">
        <link rel="stylesheet" href="~/ContentCliente/assets/css/vegas.min.css" asp-append-version="true">
        <link rel="stylesheet" href="~/ContentCliente/assets/css/nouislider.min.css" asp-append-version="true">
        <link rel="stylesheet" href="~/ContentCliente/assets/css/nouislider.pips.css" asp-append-version="true">
        <link rel="stylesheet" href="~/ContentCliente/assets/css/tolips.css" asp-append-version="true">

        <link rel="stylesheet" href="~/ContentCliente/assets/css/style.css" asp-append-version="true">
        <link rel="stylesheet" href="~/ContentCliente/assets/css/responsive.css" asp-append-version="true">
    </environment>

</head>
<body>

    <div class="page-wrapper">
        <!--Site Header One Start-->
        <div class="site-header__header-one-wrap clearfix">

            <header class="main-nav__header-one">
                <div class="container">
                    <nav class="header-navigation one stricky">
                        <div class="container-box clearfix">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="main-nav__left main-nav__left_one float-left">
                                <a href="#" class="side-menu__toggler">
                                    <i class="fa fa-bars"></i>
                                </a>
                                <a href="#" class="side-menu__toggler">
                                    <p><strong> SOL Y LUNA REALESTATE</strong></p>
                                </a>
                                <div class="main-nav__main-navigation one clearfix">
                                    <ul class=" main-nav__navigation-box float-left" style="margin:-10px;">
                                        <li>
                                            <img class="logoHidden" src="~/img/logo-05.png" />
                                        </li>
                                        <li>
                                            <a asp-area="Cliente" asp-controller="Home" asp-action="index">@localizer["menu1"]</a>
                                        </li>
                                        <li class="dropdown">
                                            <a>Alquilar</a>
                                            @{
                                                //string intencion = "venta";
                                                var lista = this.contenedorTrabajo.HomeCliente.ObtenerListaUsosPropiedadesAlquiler();

                                                //var lista = this.contenedorTrabajo.HomeCliente.Test(intencion);
                                                <ul>
                                                    @for (int i = 0; i < lista.Count; i++)
                                                    {
                                                        <li><a href="/Cliente/Alquiler/Index/@lista[i].IdUsoProp">@lista[i].Descripcion </a></li>
                                                    }
                                                </ul>
                                            }
                                        </li> 
                                        <li class="dropdown">
                                            <a>Comprar</a>
                                            @{
                                                var listaVenta = this.contenedorTrabajo.HomeCliente.ObtenerListaUsosPropiedadesVenta();

                                                <ul>
                                                    @for (int i = 0; i < listaVenta.Count; i++)
                                                    {
                                                        <li><a href="/Cliente/Propiedades/Propiedades/@listaVenta[i].IdUsoProp">@listaVenta[i].Descripcion</a></li>
                                                    }
                                                </ul>
                                            }
                                        </li>
                                        <!--<li class="dropdown ">
            <a asp-area="Cliente" asp-controller="Propiedades" asp-action="Propiedades">Comprar</a>
            <ul>
                <li><a href="#">Apartaestudio</a></li>
                <li><a href="#">Apartamento</a></li>
                <li><a href="#">Bodega</a></li>
                <li><a href="#">Cabina</a></li>
                <li class="dropdown">
                    <a href="#">Casas</a>
                    <ul>
                        <li><a href="#">Casa de Playa</a></li>
                        <li><a href="#">Casa vista al Mar</a></li>

                    </ul>-->
                                        <!-- /.sub-menu -->
                                        <!--</li>
            <li><a href="#">Condominios</a></li>
            <li><a href="#">Edificios</a></li>
            <li><a href="#">Estudios</a></li>
            <li class="dropdown">
                <a href="#">Fincas</a>
                <ul>
                    <li><a href="#">Finca Agricola</a></li>
                    <li><a href="#">Finca concervacional</a></li>
                    <li><a href="#">Finca Forestal</a></li>
                    <li><a href="#">Finca Ganadera</a></li>
                    <li><a href="#">Finca Reforestada</a></li>
                    <li><a href="#">Finca Mixta</a></li>

                </ul>-->
                                        <!-- /.sub-menu -->
                                        <!--</li>
            <li><a href="#">Hoteles</a></li>
            <li><a href="#">Islas</a></li>
            <li><a href="#">Edificios</a></li>
            <li><a href="#">Locales</a></li>
            <li class="dropdown">
                <a href="#">Lotes</a>
                <ul>
                    <li><a href="#">Lote</a></li>
                    <li><a href="#">Lote Comercial</a></li>
                    <li><a href="#">Lote Redicencial</a></li>
                </ul>-->
                                        <!-- /.sub-menu -->
                                        <!--</li>
            </ul>-->
                                        <!-- /.sub-menu -->
                                        <!--</li>-->
                                        <li>
                                            <a asp-area="Cliente" asp-controller="VendedorWeb" asp-action="Index">@localizer["menu3"]</a>
                                        </li>
                                        <li>
                                            <a asp-area="Cliente" asp-controller="Servicios" asp-action="Servicios">@localizer["menu4"]</a>
                                        </li>
                                        <li>
                                            <a asp-area="Cliente" asp-controller="About" asp-action="Index">@localizer["menu5"]</a>
                                        </li>
                                        <li>
                                            <a asp-area="Cliente" asp-controller="Contacto" asp-action="Index">@localizer["menu6"]</a>
                                        </li>

                                        <li>
                                            <div class="selectIdioma">
                                                <div class="header_top_one_content_box_top_right float-right">
                                                    <partial name="~/Views/Shared/_Culture.cshtml" />
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div><!-- /.navbar-collapse -->
                            </div>
                            <div class="main-nav__right main-nav__right_one float-right">


                            </div>
                        </div>
                    </nav>
                </div>
            </header>
        </div>

        @RenderBody()

        <!--Site Footer One Start-->

        <footer class="site_footer" style=" background-image: url(/ContentCliente/assets/images/resources/footer.jpg);
        padding: 30px 0px 25px;background-color:rgba(40, 47, 68, -0.05)
">

            <div class="container">
                <div class="site_footer_one_top">
                    <div class="row">
                        <div class="col-xl-3 col-lg-6 wow fadeInUp" data-wow-delay="00ms">
                            <div class="footer-widget__column footer_widget__about">
                                <div class="footer_logo">
                                    <a href="#"><img src="/ContentCliente/assets/images/resources/Logo-Web-Blanco.png" alt=""></a>
                                    <a href="#"><img src="/ContentCliente/assets/images/favicons/logoPyme.png" alt=""></a>
                                
                                </div>
                                <div class="footer_widget_about_text">
                                    @*<p>@localizer["footer1"]</p>*@
                                </div>
                                <div class="footer_call_agent_box">
                                    <div class="icon">
                                        <span class="icon-phone-call"></span>
                                    </div>
                                    <div class="text">
                                        <p>@localizer["footer2"]</p>
                                        <a href="https://api.whatsapp.com/send?phone=50687289082">(+506) 87289082</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 wow fadeInUp" data-wow-delay="200ms">
                            <div class="footer-widget__column footer_widget__explore clearfix">
                                <div class="footer-widget__title">
                                    @*<h3>@localizer["footer3"]</h3>*@
                                </div>
                                <ul class="footer_widget__explore_list list-unstyled" style="color:white">
                                    <li>
                                        <a asp-area="Admin" asp-controller="Account" asp-action="Login">Administración</a>
                                    </li>
                                    <li><a asp-area="Cliente" asp-controller="About" asp-action="Index">@localizer["menu5"]</a></li>
                                    @*<li><a href="#">My Account</a></li>*@
                                    <li><a asp-area="Cliente" asp-controller="Propiedades" asp-action="Propiedades">@localizer["menu2"]</a></li>
                                    <li><a asp-area="Cliente" asp-controller="Servicios" asp-action="Servicios">@localizer["menu4"]</a></li>
                                    <li><a asp-area="Cliente" asp-controller="Contacto" asp-action="Index">@localizer["menu6"]</a></li>
                                </ul>
                                @*<ul class="footer_widget__explore_list two list-unstyled">
                                    <li><a href="#">Agencias</a></li>
                                    <li><a href="#">Preguntas</a></li>
                                </ul>*@
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-8 wow fadeInUp" data-wow-delay="300ms">
                            <div class="footer-widget__column footer_widget__newsletter">
                                @*<div class="footer-widget__title">
                            <h3>Voletines informativos</h3>
                                </div>
                                <form action="#" class="footer_form">
                                    <div class="footer_input_box">
                                        <input type="email" name="email" placeholder="Correo">
                                        <button type="submit" class="button">Subscribete</button>
                                    </div>
                                    <div class="footer_logo">
                                    <a href="#"><img src="/ContentCliente/assets/images/resources/Logo-Web-Blanco.png" alt=""></a>
                                    <a href="#"><img src="/ContentCliente/assets/images/favicons/logoPyme.png" alt=""></a>

                                </div>
                                </form>*@
                                <div class="footer_logo">
                                    <a href="#"> <img src="~/img/cccbrlogo.png" width="50%"/></a>
                                    
                                   

                                </div>
                                <div class="footer_widget__newsletter_bottom">
                                    <p>Barrio los Angeles, de la plaza los Jocotes 25m Este, Nicoya, Costa Rica</p>
                                    <a href="mailto:info@realestatesolyluna.com">info@realestatesolyluna.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--Site Footer Bottom Start-->
        <div class="site_footer_bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="site_footer_inner">
                            <div class="site_footer_left">
                                <p>© Copyright 2021 by Sol y Luna Real Estate<a href="#"></a></p>
                            </div>
                            <div class="site_footer__social">
                                @*<a href="#"><i class="fab fa-twitter"></i></a>*@
                                <a href="https://www.facebook.com/Sol-y-Luna-Real-Estate-CR-1820981024597878"><i class="fab fa-facebook-square"></i></a>
                                <a href="https://www.linkedin.com/company/real-estate-sol-y-luna/"><i class="fab fa-linkedin-in"></i></a>
                                <a href="https://api.whatsapp.com/send?phone=50687289082"><i class="fab fa-whatsapp"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Site Footer Bottom End-->

        <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>

        <div class="mobile-nav__wrapper">
            <div class="mobile-nav__overlay side-menu__toggler mobile-nav__toggler"></div>
            <div class="mobile-nav__content">
                <span class="mobile-nav__close side-menu__toggler mobile-nav__toggler">
                    <i class="fa fa-times"></i>
                </span>
                <div class="logo-box">
                    <a href="index.html" aria-label="logo image">
                        <img src="/ContentCliente/assets/images/resources/Logo-Web-Blanco.png" alt="" />
                    </a>
                </div>
                <!-- /.logo-box -->
                <div class="mobile-nav__container clearfix"></div>
                <!-- /.mobile-nav__container -->
                <ul class="mobile-nav__contact list-unstyled">
                    <li>
                        <i class="icon-message"></i>
                        <a href="mailto:oficina@realestatesolyluna.com">info@realestatesolyluna.com</a>
                    </li>
                    <li>
                        <i class="icon-phone-call"></i>
                        <a href="tel:2686-6732">2686-6732</a>
                    </li>
                </ul><!-- /.mobile-nav__contact -->
                <div class="mobile-nav__top">
                    <div class="mobile-nav__social">
                        @*<a href="#"><i class="fab fa-twitter"></i></a>*@
                        <a href="https://www.facebook.com/Sol-y-Luna-Real-Estate-CR-1820981024597878"><i class="fab fa-facebook-square"></i></a>
                        <a href="https://www.linkedin.com/company/real-estate-sol-y-luna/"><i class="fab fa-linkedin-in"></i></a>
                        <a href="https://api.whatsapp.com/send?phone=50687289082"><i class="fab fa-whatsapp"></i></a>
                    </div><!-- /.mobile-nav__social -->
                </div><!-- /.mobile-nav__top -->
            </div>
        </div>

        <div class="search-popup">
            <div class="search-popup__overlay custom-cursor__overlay">
                <div class="cursor"></div>
                <div class="cursor-follower"></div>
            </div><!-- /.search-popup__overlay -->
            <div class="search-popup__inner">
                <form action="#" class="search-popup__form">
                    <input type="text" name="search" placeholder="Type here to Search....">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>

    </div>

    <div class="search-popup">
        <div class="search-popup__overlay custom-cursor__overlay">
            <div class="cursor"></div>
            <div class="cursor-follower"></div>
        </div><!-- /.search-popup__overlay -->
        <div class="search-popup__inner">
            <form action="#" class="search-popup__form">
                <input type="text" name="search" placeholder="Type here to Search....">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>

    <environment include="Development">

        <script src="~/ContentCliente/assets/js/jquery.min.js" asp-append-version="true"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js" asp-append-version="true"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js" asp-append-version="true"></script>
        <script src="~/ContentCliente/assets/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
        <script src="~/ContentCliente/assets/js/owl.carousel.min.js" asp-append-version="true"></script>
        <script src="~/ContentCliente/assets/js/waypoints.min.js" asp-append-version="true"></script>
        <script src="~/ContentCliente/assets/js/jquery.counterup.min.js" asp-append-version="true"></script>
        <script src="~/ContentCliente/assets/js/TweenMax.min.js" asp-append-version="true"></script>
        <script src="~/ContentCliente/assets/js/wow.js" asp-append-version="true"></script>
        <script src="~/ContentCliente/assets/js/jquery.magnific-popup.min.js" asp-append-version="true"></script>
        <script src="~/ContentCliente/assets/js/jquery.ajaxchimp.min.js" asp-append-version="true"></script>
        <script src="~/ContentCliente/assets/js/swiper.min.js" asp-append-version="true"></script>
        <script src="~/ContentCliente/assets/js/typed-2.0.11.js" asp-append-version="true"></script>
        <script src="~/ContentCliente/assets/js/vegas.min.js" asp-append-version="true"></script>
        <script src="~/ContentCliente/assets/js/jquery.validate.min.js" asp-append-version="true"></script>
        <script src="~/ContentCliente/assets/js/bootstrap-select.min.js" asp-append-version="true"></script>
        <script src="~/ContentCliente/assets/js/countdown.min.js" asp-append-version="true"></script>
        <script src="~/ContentCliente/assets/js/jquery.mCustomScrollbar.concat.min.js" asp-append-version="true"></script>
        <script src="~/ContentCliente/assets/js/bootstrap-datepicker.min.js" asp-append-version="true"></script>
        <script src="~/ContentCliente/assets/js/nouislider.min.js" asp-append-version="true"></script>
        <script src="~/ContentCliente/assets/js/isotope.js" asp-append-version="true"></script>
        <script src="~/ContentCliente/assets/js/appear.js" asp-append-version="true"></script>
        <script src="~/ContentCliente/assets/js/jarallax.js" asp-append-version="true"></script>
        <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" asp-append-version="true"></script>
        <script src="/js/logicaSitio/Inicio/index.js" asp-append-version="true"></script>

        <!-- template scripts -->
        <script src="~/ContentCliente/assets/js/theme.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/ContentCliente/assets/js/jquery.min.js" asp-append-version="true"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js" asp-append-version="true"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js" asp-append-version="true"></script>
        <script src="~/ContentCliente/assets/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
        <script src="~/ContentCliente/assets/js/owl.carousel.min.js" asp-append-version="true"></script>
        <script src="~/ContentCliente/assets/js/waypoints.min.js" asp-append-version="true"></script>
        <script src="~/ContentCliente/assets/js/jquery.counterup.min.js" asp-append-version="true"></script>
        <script src="~/ContentCliente/assets/js/TweenMax.min.js" asp-append-version="true"></script>
        <script src="~/ContentCliente/assets/js/wow.js" asp-append-version="true"></script>
        <script src="~/ContentCliente/assets/js/jquery.magnific-popup.min.js" asp-append-version="true"></script>
        <script src="~/ContentCliente/assets/js/jquery.ajaxchimp.min.js" asp-append-version="true"></script>
        <script src="~/ContentCliente/assets/js/swiper.min.js" asp-append-version="true"></script>
        <script src="~/ContentCliente/assets/js/typed-2.0.11.js" asp-append-version="true"></script>
        <script src="~/ContentCliente/assets/js/vegas.min.js" asp-append-version="true"></script>
        <script src="~/ContentCliente/assets/js/jquery.validate.min.js" asp-append-version="true"></script>
        <script src="~/ContentCliente/assets/js/bootstrap-select.min.js" asp-append-version="true"></script>
        <script src="~/ContentCliente/assets/js/countdown.min.js" asp-append-version="true"></script>
        <script src="~/ContentCliente/assets/js/jquery.mCustomScrollbar.concat.min.js" asp-append-version="true"></script>
        <script src="~/ContentCliente/assets/js/bootstrap-datepicker.min.js" asp-append-version="true"></script>
        <script src="~/ContentCliente/assets/js/nouislider.min.js" asp-append-version="true"></script>
        <script src="~/ContentCliente/assets/js/isotope.js" asp-append-version="true"></script>
        <script src="~/ContentCliente/assets/js/appear.js" asp-append-version="true"></script>
        <script src="~/ContentCliente/assets/js/jarallax.js" asp-append-version="true"></script>
        <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" asp-append-version="true"></script>

        <!-- template scripts -->
        <script src="~/ContentCliente/assets/js/theme.js" asp-append-version="true"></script>
    </environment>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
