@model Modelos.ViewModels.Clientes.VendedorPropiedadViewModel


<div class="preloader">
    <img src="~/ContentCliente/assets/images/favicons/logoico-02.png" class="preloader__image" alt="">
</div><!-- /.preloader -->

<section class="content mt-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <input type="hidden" asp-for="Vendedor.IdClienteVendedor" id="idClienteVendedor" />
                <!-- Profile Image -->
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <img class="profile-user-img img-fluid img-circle" src="~/img/usuario.png" alt="User profile picture">
                        </div>

                        <h3 class="profile-username text-center">@Html.DisplayFor(model => model.Vendedor.NombreCompleto)</h3>

                        <a href="/Admin/Vendedor/Editar/?id=@Html.DisplayFor(model => model.Vendedor.IdClienteVendedor)" class="btn btn-primary btn-block"><b><i class="fas fa-pen-alt mr-1"></i>Editar</b></a>
                        <hr />
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Datos del Vendedor</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <strong><i class="fas fa-envelope-open mr-1"></i> Correo electrónico </strong>

                                <p class="text-muted">
                                    @Html.DisplayFor(model => model.Vendedor.CorreoElectronico)
                                </p>

                                <hr>

                                <strong><i class="fas fa-map-marker-alt mr-1"></i> Ubicación </strong>

                                <p class="text-muted">
                                    @Html.DisplayFor(model => model.Vendedor.Provincia),
                                    @Html.DisplayFor(model => model.Vendedor.Canton),
                                    @Html.DisplayFor(model => model.Vendedor.Distrito)
                                </p>

                                <hr>

                                <strong><i class="fas fa-address-book mr-1"></i> Dirección exacta </strong>

                                <p class="text-muted">
                                    @Html.DisplayFor(model => model.Vendedor.DireccionExacta)
                                </p>

                                <hr>

                                <strong><i class="fas fa-phone-alt mr-1"></i> Teléfonos </strong>
                                <hr />
                                <strong> Celular </strong>
                                <p class="text-muted">
                                    @Html.DisplayFor(model => model.Vendedor.TelefonoMovil)
                                </p>
                                <strong> Casa </strong>
                                <p class="text-muted">
                                    @Html.DisplayFor(model => model.Vendedor.TelefonoCasa)
                                </p>
                                <strong> Oficina </strong>
                                <p class="text-muted">
                                    @Html.DisplayFor(model => model.Vendedor.TelefonoOficina)
                                </p>

                                <hr>

                                <strong><i class="far fa-file-alt mr-1"></i> Identificación</strong>

                                <hr />
                                <strong> Identificación </strong>
                                <p class="text-muted">
                                    @Html.DisplayFor(model => model.Vendedor.Identificacion)
                                </p>
                                <strong> Tipo Identificación </strong>
                                <p class="text-muted">
                                    @Html.DisplayFor(model => model.Vendedor.TipoIdentificacion)
                                </p>
                                @if (Model.Vendedor.PersonaJuridica != "na")
                                {
                                    <strong> Persona Jurídica </strong>
                                    <p class="text-muted">
                                        @Html.DisplayFor(model => model.Vendedor.PersonaJuridica)
                                    </p>
                                }


                            </div>
                            <!-- /.card-body -->
                        </div>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="card-header">
                    <h3 class="float-left"> <i class="fa fa-home nav-icon"></i> Referencias</h3>
                    <div class="card-tools ">

                        <a style="color:white" href="/Admin/Vendedor/"
                           class="btn btn-info float-right" data-dismiss="modal"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i>  Volver </a>

                    </div>
                </div>
                <div id="ListadoReferencias">
                    <partial name="~/Areas/Admin/Views/Vendedor/_ReferenciasVendedor.cshtml" model="@Model.Referencias" />
                </div>

                <!-- general form elements disabled -->
                <div class="card card-body">
                    <div class="card-header">
                        <h3 class="float-left"> <i class="fa fa-home nav-icon"></i> Nueva Propiedad</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <section class="content container">

                            <div class="row" id="desplegable1">
                                <div class="col-md-12">
                                    <div class="card card-primary collapsed-card">
                                        <div class="card-header">
                                            <h3 class="card-title">Paso 1. Uso de la propiedad</h3>

                                            <div class="card-tools">
                                                <button type="button" class="btn btn-tool" id="cerrarColapso1">
                                                    <i id="iconoColapso1" class="fas fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="card-body1 m-3" style="display: none;">
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label for="inputStatus">Tipo de propiedad</label>
                                                    <select asp-for="Propiedad.TipoPropiedadId" asp-items="Model.Propiedad.TipoPropiedad" id="idTipoPropiedad"
                                                            name="tipoPropiedades" class="form-control"></select>
                                                    <span asp-validation-for="Propiedad.TipoPropiedadId" id="ErrorTipoPropiedades" class="text-danger"></span>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="inputStatus">Uso de la propiedad</label>
                                                    <select asp-for="Propiedad.UsoPropiedadId" asp-items="Model.Propiedad.UsoPropiedad" id="idTipoUsoPropiedad"
                                                            name="tipoUsoPropiedades" class="form-control"></select>
                                                    <span asp-validation-for="Propiedad.UsoPropiedadId" id="ErrorTipoUsoPropiedades" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <button type="button" id="btnContinuar1" class="btn btn-warning float-right m-1">Continuar</button>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    <!-- /.card -->
                                </div>
                            </div>
                            <div class="row" id="desplegable2">
                                <div class="col-md-12">
                                    <div class="card card-primary collapsed-card">
                                        <div class="card-header">
                                            <h3 class="card-title">Paso 2. Datos de acceso a la propiedad</h3>

                                            <div class="card-tools">
                                                <button type="button" class="btn btn-tool" id="cerrarColapso2">
                                                    <i id="iconoColapso2" class="fas fa-minus"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="card-body2 m-3" style="display: none;">
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label for="inputStatus">Ingreso</label>
                                                    <select asp-for="Propiedad.IngresoPropiedadId" asp-items="Model.Propiedad.IngresoPropiedad" id="idIngresoPropiedad"
                                                            name="tipoIngresoPropiedades" class="form-control"></select>
                                                    <span asp-validation-for="Propiedad.IngresoPropiedadId" id="ErrorTipoIngresoPropiedades" class="text-danger"></span>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="inputStatus">Estado</label>
                                                    <select asp-for="Propiedad.EstadoAccesoPropiedadId" asp-items="Model.Propiedad.EstadoAccesoPropiedad" id="idEstadoAccesoPropiedad"
                                                            name="tipoEstadoAccesoPropiedades" class="form-control"></select>
                                                    <span asp-validation-for="Propiedad.EstadoAccesoPropiedadId" id="ErrorEstadoAccesoPropiedades" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <button type="button" id="btnContinuar2" class="btn btn-warning float-right m-1">Continuar</button>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    <!-- /.card -->
                                </div>
                            </div>
                            <div class="row" id="desplegable3">
                                <div class="col-md-12">
                                    <div class="card card-primary collapsed-card">
                                        <div class="card-header">
                                            <h3 class="card-title">Paso 3. Datos de ubicación</h3>

                                            <div class="card-tools">
                                                <button type="button" class="btn btn-tool" id="cerrarColapso3">
                                                    <i id="iconoColapso3" class="fas fa-minus"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="card-body3 m-3" style="display: none;">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label> Provincias </label>
                                                        <select asp-for="Propiedad.ProvinciaId" asp-items="Model.Propiedad.Provincias" id="idProvincia" name="provincias" class="form-control"></select>
                                                        <span asp-validation-for="Propiedad.ProvinciaId" id="ErrorProvincias" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label> Cantones </label>
                                                        <select asp-for="Propiedad.CantonId" asp-items="Model.Propiedad.Cantones" id="idCanton" name="cantones" class="form-control"></select>
                                                        <span asp-validation-for="Propiedad.CantonId" id="ErrorCantones" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label>Distritos </label>
                                                        <select asp-for="Propiedad.DistritoId" asp-items="Model.Propiedad.Distritos" id="idDistrito" name="distritos" class="form-control"></select>
                                                        <span asp-validation-for="Propiedad.DistritoId" id="ErrorDistritos" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label> Dirección exacta </label>
                                                        <textarea id="direccion" class="form-control"></textarea>
                                                        <span asp-validation-for="Propiedad.DireccionExacta" id="ErrorDireccion" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label> Barrio ó poblado </label>
                                                        <textarea id="barrioPoblado" class="form-control"></textarea>
                                                        <span asp-validation-for="Propiedad.BarrioPoblado" id="ErrorBarrioPoblado" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <button type="button" id="btnContinuar3" class="btn btn-warning float-right m-1">Continuar</button>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    <!-- /.card -->
                                </div>
                            </div>
                            <div class="row" id="desplegable4">
                                <div class="col-md-12">
                                    <div class="card card-primary collapsed-card">
                                        <div class="card-header">
                                            <h3 class="card-title">Paso 4. Medidas de la propiedad</h3>

                                            <div class="card-tools">
                                                <button type="button" class="btn btn-tool" id="cerrarColapso4">
                                                    <i id="iconoColapso4" class="fas fa-minus"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="card-body4 m-3" style="display: none;">
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label for="inputStatus">Medidas</label>
                                                    <select asp-for="Propiedad.MedidasPropiedadId" asp-items="Model.Propiedad.MedidasPropiedad" id="idMedidasPropiedad"
                                                            name="tipoEstadoMedidasPropiedades" class="form-control"></select>
                                                    <span asp-validation-for="Propiedad.MedidasPropiedadId" id="ErrorMedidaPropiedad" class="text-danger"></span>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="inputStatus">Total</label>
                                                    <input type="text" name="name" id="valorMedida" class="form-control" value="0" />
                                                    <span asp-validation-for="Propiedad.TotalMedida" id="ErrorValorMedidaPropiedad" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <button type="button" id="btnContinuar4" class="btn btn-warning float-right m-1">Continuar</button>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    <!-- /.card -->
                                </div>
                            </div>
                            <div class="row" id="desplegable5">
                                <div class="col-md-12">
                                    <div class="card card-primary collapsed-card">
                                        <div class="card-header">
                                            <h3 class="card-title">Paso 5. Estado del pozo</h3>

                                            <div class="card-tools">
                                                <button type="button" class="btn btn-tool" id="cerrarColapso5">
                                                    <i id="iconoColapso5" class="fas fa-minus"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="card-body5 m-3" style="display: none;">
                                            <div class="form-group">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="checkPoseePozo">
                                                    <label class="form-check-label text-bold" for="exampleCheck1">¿Posee pozo?</label>
                                                </div>
                                            </div>
                                            <div id="ocultarOpcionesPozo">
                                                <div class="row">
                                                    <div class="form-group col-md-6">
                                                        <label for="inputStatus">Tipo de pozo</label>
                                                        <select asp-for="Propiedad.TipoPozosPropiedadId" asp-items="Model.Propiedad.TipoPozoPropiedad" id="idTipoPozoPropiedad" name="tipoPozosPropiedad" class="form-control"></select>
                                                        <span asp-validation-for="Propiedad.TipoPozosPropiedadId" id="ErrorTipoPozosPropiedad" class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label for="inputStatus">Estado del pozo</label>
                                                        <select asp-for="Propiedad.EstatusPozoPropiedadId" asp-items="Model.Propiedad.EstatusPozoPropiedad" id="idEstatusPozoPropiedad" name="tipoEstatusPozosPropiedad" class="form-control"></select>
                                                        <span asp-validation-for="Propiedad.EstatusPozoPropiedadId" id="ErrorEstatusPozosPropiedad" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <button type="button" id="btnContinuar5" class="btn btn-warning float-right m-1">Continuar</button>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    <!-- /.card -->
                                </div>
                            </div>
                            <div class="row" id="desplegable6">
                                <div class="col-md-12">
                                    <div class="card card-primary collapsed-card">
                                        <div class="card-header">
                                            <h3 class="card-title">Paso 6. Datos adicionales </h3>

                                            <div class="card-tools">
                                                <button type="button" class="btn btn-tool" id="cerrarColapso6">
                                                    <i id="iconoColapso6" class="fas fa-minus"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="card-body6 m-3" style="display: none;">
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <div class="form-check">
                                                        <input type="checkbox" class="form-check-input" id="checkPoseeAgua">
                                                        <label class="form-check-label text-bold" for="exampleCheck1">¿Dispone de agua?</label>
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="inputStatus">Uso de suelo</label>
                                                    <select asp-for="Propiedad.UsoSueloId" asp-items="Model.Propiedad.UsoSuelo" id="idUsoSueloPropiedad"
                                                            name="tipoEstadoMedidasPropiedades" class="form-control"></select>
                                                    <span asp-validation-for="Propiedad.UsoSueloId" id="ErrorUsoSueloPropiedad" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="row">
                                                    <div class="form-group col-md-4">
                                                        <label for="inputStatus">Tipo de Moneda</label>
                                                        <select asp-for="Propiedad.Moneda" id="idTipoMoneda"
                                                                name="idTipoMoneda" class="form-control">
                                                            <option value="Colones">₡Colones</option>
                                                            <option value="Dolares">$Dólares</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label for="inputStatus">Precio máximo</label>
                                                        <input type="text" name="name" id="valorPrecioMaximo" class="form-control" onkeyup="format(this)" onchange="format(this)" />
                                                        <span asp-validation-for="Propiedad.PrecioMaximo" id="ErrorPrecioMaximo" class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label for="inputStatus">Precio mínimo</label>
                                                        <input type="text" name="name" id="valorPrecioMinimo" class="form-control" onkeyup="format(this)" onchange="format(this)" />
                                                        <span asp-validation-for="Propiedad.PrecioMinimo" id="ErrorPrecioMinimo" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label for="inputStatus">Topografía</label>
                                                    <select asp-for="Propiedad.TopografiaId" asp-items="Model.Propiedad.TopografiaPropiedad" id="idTipoTopografiaPropiedad" name="tipoTopografiaPropiedad" class="form-control"></select>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="inputStatus">Nivel de calle</label>
                                                    <select asp-for="Propiedad.NivelCalleId" asp-items="Model.Propiedad.NivelCallePropiedad" id="idNivelCallePropiedad" name="nivelCallePropiedad" class="form-control"></select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label for="inputStatus">Número de finca</label>
                                                    <input type="text" name="valorNumeroFinca" id="valorNumeroFinca" class="form-control" />
                                                    <span asp-validation-for="Propiedad.NumeroFinca" id="ErrorNumeroFinca" class="text-danger"></span>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="inputStatus">Número de plano</label>
                                                    <input type="text" name="valorNumeroPlano" id="valorNumeroPlano" class="form-control" />
                                                    <span asp-validation-for="Propiedad.NumeroPlano" id="ErrorNumeroPlano" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label for="inputStatus">Intención</label>
                                                    <div class="form-group">
                                                        <div class="custom-control custom-radio">
                                                            <input class="custom-control-input" type="radio" id="radioVenta" value="Venta" name="radioIntencion" checked="">
                                                            <label for="radioVenta" class="custom-control-label">Venta</label>
                                                        </div>
                                                        <div class="custom-control custom-radio">
                                                            <input class="custom-control-input" type="radio" id="radioRenta" value="Renta" name="radioIntencion">
                                                            <label for="radioRenta" class="custom-control-label">Renta</label>
                                                        </div>
                                                        <div class="custom-control custom-radio">
                                                            <input class="custom-control-input" type="radio" id="radioVentaRenta" value="Venta y Renta" name="radioIntencion">
                                                            <label for="radioVentaRenta" class="custom-control-label">Venta y Renta</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group col-md-6">
                                                    <label for="inputStatus">Cuota de mantenimiento</label>
                                                    <input type="text" name="name" id="valorCuotaMantenimiento" class="form-control" value="0" onkeyup="format(this)" onchange="format(this)" />
                                                    <span asp-validation-for="Propiedad.CuotaMantenimiento" id="ErrorCuotaMantenimiento" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label for="inputStatus">Tipo de vistada de la propiedad</label>
                                                    <div class="form-group">
                                                        <div class="custom-control custom-radio">
                                                            <input class="custom-control-input" type="radio" id="radioVistaMar" value="Vista al Mar" name="radioVistada" checked="">
                                                            <label for="radioVistaMar" class="custom-control-label">Vista al Mar</label>
                                                        </div>
                                                        <div class="custom-control custom-radio">
                                                            <input class="custom-control-input" type="radio" id="radioVistaMontania" value="Vista a la montaña" name="radioVistada">
                                                            <label for="radioVistaMontania" class="custom-control-label">Vista a la montaña</label>
                                                        </div>
                                                        <div class="custom-control custom-radio">
                                                            <input class="custom-control-input" type="radio" id="radioVistaValle" value="Vista al Valle" name="radioVistada">
                                                            <label for="radioVistaValle" class="custom-control-label">Vista al Valle</label>
                                                        </div>
                                                        <div class="custom-control custom-radio">
                                                            <input class="custom-control-input" type="radio" id="radioSinVista" value="Sin vista" name="radioVistada">
                                                            <label for="radioSinVista" class="custom-control-label">Sin vistada</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group col-md-12">
                                                    <label for="inputStatus">Link Video Propiedad</label>
                                                    <input type="text" name="linkVideo" id="linkVideo" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-12">
                                                    <label for="inputStatus">Descripción general de la propiedad</label>
                                                    <textarea id="descripcionPropiedad" class="form-control" placeholder="Información general de la propiedad. Esta información se verá en el front-page"></textarea>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <button type="button" id="btnContinuar6" class="btn btn-warning float-right m-1">Continuar</button>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    <!-- /.card -->
                                </div>
                            </div>
                            <div class="alert alert-warning alert-dismissible m-3" id="muestraAdvertencia">
                                <h5><i class="icon fas fa-exclamation-triangle"></i> Atención!</h5>
                                <p id="mensajeAdvertencia"> </p>
                            </div>
                            <div class="alert alert-danger alert-dismissible mt-2" id="muestraError">
                                <h5><i class="icon fas fa-ban"></i> Ha ocurrido un error </h5>
                                <p id="mensajeError"> </p>
                            </div>
                            <div class="modal-footer justify-content-between">
                                <button type="button" id="btnCancelarRegistroPropiedad" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                <button id="btnAgregarDatosInicialesPropiedad" class="btn btn-success float-right">Finalizar y Guardar</button>
                            </div>
                        </section>

                    </div>
                    <!-- /.card-body -->
                </div>

                <div id="ListadoPropiedadesCliente">
                    <partial name="~/Areas/Admin/Views/Vendedor/_ListadoPropiedadesCliente.cshtml" model="@Model.Propiedades" />
                </div>


            </div>
            <!-- /.col -->
        </div>

        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>

@section scripts {


    <script src="~/js/logicaSitio/Clientes/RegistrarPropiedadCliente.js"></script>
    <script src="~/js/logicaSitio/Clientes/Validaciones.js"></script>
    <script src="~/js/logicaSitio/Clientes/CustomSwitchVendedor.js"></script>
    <script>
        function format(input) {
            var num = input.value.replace(/\./g, '');
            if (!isNaN(num)) {
                num = num.toString().split('').reverse().join('').replace(/(?=\d*\.?)(\d{3})/g, '$1.');
                num = num.split('').reverse().join('').replace(/^[\.]/, '');
                input.value = num;
            }
            else {
                input.value = input.value.replace(/[^\d\.,]*/g, '');
            }
        }
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
